<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link css  -->
    <link rel="stylesheet" href="./css/login.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <!-- font awesome  -->
    <script src="https://kit.fontawesome.com/5dd9f5fa25.js" crossorigin="anonymous"></script>
    <title>Admin Login</title>
</head>

<body>
    <div class="log-container">
        <nav class="nav-bar">
            <img src="/images/logo2.png" alt="logo" class="logo">
            <ul>
                <li><a href="#"><i class="fa-solid fa-headset fa-2x"></i></a></li>
            </ul>
        </nav>
        <form action="" method="post" id="login" autocomplete="off" class="content">
            <div class="form-row form">
                <h4 class="title my-3">Admin Login</h4>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="username" type="text" value="" class="input form-control" id="username"
                            placeholder="Username or mail" aria-label="Username" aria-describedby="basic-addon1" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                        <input name="password" type="password" value="" class="input form-control" id="password"
                            placeholder="password" required="true" aria-label="password"
                            aria-describedby="basic-addon1" />
                        <div class="input-group-append">
                            <span class="input-group-text" onclick="password_show_hide();">
                                <i class="fas fa-eye" id="show_eye"></i>
                                <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit" name="login">Login</button>
                </div>
            </div>
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>