<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Home.css">
    <title>Campus Space</title>
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <h1>Campus Space</h1>
            </div>
        </div>
    </header>
    <div id="particles-js">
        <div id="about"><p id="p1">Welcome Aboard!!</p>
            <p> Campus Space is a dedicated platform for students to explore, connect, and collaborate. We provide a
                virtual
                space where students can access resources, join communities, and participate in discussions. Our
                mission
                is to
                foster an inclusive and engaging environment that enhances learning and personal growth. Join Campus
                Space today
                and unlock a world of opportunities!
            </p>
        </div>

        <div class="cta-buttons">
            <a href="login" class="btn">Student Login</a>
            <a href="Teacherlogin" class="btn1">Teacher login</a>
          </div>


</body>
<script type="text/javascript" src="./js/particles.js"></script>
<script type="text/javascript" src="./js/app.js"></script>
</html>